html, body{
    height: 100%;
}

body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: #EEEEEE;
}

a{
    color:inherit;
    text-decoration: none;
}

#header{
    background-color: white;
    width: 100%;
}
#banner{
    background-color: black;
    width: 100%;
    text-align: center;
}

#nav-bar ul{
    float: left;
    list-style: none;
    margin: 0 0 0 50px;
    padding: 0;
}
#nav-bar ul li{
    display: inline-block;
}

#nav-bar ul li a{
    display: inline-block;
    font-size: 24px;
    color: #666666;
    margin-right: 20px;
    padding: 10px 0;
}

#nav-bar ul li a.current, #nav-bar ul li a:hover{
    padding-bottom: 8px;
    color: dodgerblue;
    border-bottom: 2px solid dodgerblue;
}

.session-button{
    font-size: 16px;
    float: right;
    padding: 15px 0;
    margin-right: 20px;
}

.session-button:hover{
    text-decoration: underline;
    color: dodgerblue;
}

.card-shadow{
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
}

.card{
    margin: 10px 10px 0;
    background-color: white;
    padding: 10px;
}

#card-list{
    margin: 10px;
}

.stats{
    float: left;
}
.card-thumbnail{
    float: left;
    margin-left: 20px;
    width: 60px;
}

.card-content{
    float: left;
    margin-left: 20px;
}

.wrap-floats:after{
    content: '';
    display: block;
    clear: both;
}

.card-header{
    margin: 0 0 10px;
    color: #444444;
    font-weight: normal;
}

.card-header-link{
    font-size: 22px;
    color: dodgerblue;
}

.card-header-link:hover{
    text-decoration: underline;
}

.card-header-link:visited{
    color: blueviolet;
}

.vote-up{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.vote-down{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.stats{
    color: #666666;
    font-size: 14px;
}

.vote-arrow{
    vertical-align: middle;
    width: 20px;
    cursor: pointer;
}

.submission-date{
    color: #999999;
    font-size: 12px;
}

.card-link {
    color: dodgerblue;
    font-size: 12px;
}

.card-link:hover{
    text-decoration: underline;
}

.comment .comment{
    margin-left: 20px;
    margin-top: 10px;
}

.comment-content{
    float: left;
    margin-left: 20px;
}

.comment-text{
    color: #555555;
    margin-top: 5px;
    display: block;
}

.add-comment textarea{
    width: 90%;
    height: 100px;
}

#dialog-content-wrapper {
    padding: 50px;
    width: 700px;
}

#log-in{
    float: left;
    width: 41%;
}

#sign-up{
    width: 41%;
    float: right;
    margin-left: 100px;
}

.forgot-text{
    color: dodgerblue !important;
    font-size: 14px;
    display: block;
    float: right;
    margin-top: 10px;
}

.forgot-text:hover{
    text-decoration: underline;
}

.new-article-button{
    margin-top: 10px;
    margin-left: 10px;
}

.text-input{
    width: 100%;
}

.form-messages{
    width: 103%;
}