<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <p:dialog widgetVar="logginDialog"
              modal="true"
              draggable="false"
              showHeader="false"
              resizable="false"
              position="center"
              showEffect="fade"
              hideEffect="fade">

        <div id="dialog-content-wrapper" class="wrap-floats">
            <div id="log-in">
                <h3 class="card-header">Log in</h3>
                <h:form id="login-form">
                    <p:messages styleClass="form-messages" />
                    <p:inputText placeholder="Username" value="#{userController.emailOrUsername}" styleClass="text-input"/>
                    <br/>
                    <br/>
                    <p:inputText type="password" placeholder="Password" value="#{userController.password}" styleClass="text-input"/>
                    <br/>
                    <br/>
                    <p:commandButton value="Log in" process="@form" update="login-form"
                                     actionListener="#{userController.logIn()}"
                                     oncomplete="handleLoginRequest(args)" />
                    <h:outputLink styleClass="forgot-text" style="" value="forgot.jsf">Reset password</h:outputLink>
                </h:form>
            </div>
            <div id="sign-up">
                <h3 class="card-header">Sign up</h3>
                <h:form id="sign-up-form">
                    <p:messages styleClass="form-messages" />
                    <p:inputText placeholder="Email" value="#{userController.user.email}" styleClass="text-input"/>
                    <br/>
                    <br/>
                    <p:inputText placeholder="Username" value="#{userController.user.username}" styleClass="text-input"/>
                    <br/>
                    <br/>
                    <p:inputText type="password" placeholder="Password" value="#{userController.password}" styleClass="text-input"/>
                    <br/>
                    <br/>
                    <p:inputText type="password" placeholder="Repeat Password" value="#{userController.repeatedPassword}" styleClass="text-input"/>
                    <br/>
                    <br/>
                    <p:commandButton value="Sign up" process="@form" update="sign-up-form"
                                     actionListener="#{userController.registerUser()}"
                                     oncomplete="handleRegistrationRequest(args)"/>
                </h:form>
            </div>
        </div>
    </p:dialog>

    <script>
        $(document).on('click', ".ui-widget-overlay", function() {
            PF('logginDialog').hide();
        });

        function handleLoginRequest(args) {
            if(args.validationFailed || !args.loggedIn) {
                PF('logginDialog').jq.effect("shake", {times:5}, 100);
                return;
            }

            location.reload();
        }

        function handleRegistrationRequest(args){
            if(args.validationFailed || !args.registerSucceeded) return;

            location.reload();
        }
    </script>

</ui:composition>