<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>
        <ui:insert name="pageTitle">Hacker News</ui:insert>
    </title>
    <!--<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>-->
    <h:outputScript library="javascript" name="current_link_highlighter.js"/>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,400italic,300italic,700' rel='stylesheet' type='text/css'/>
    <h:outputStylesheet library="css" name="template.css"/>
</h:head>

<h:body>
    <section id="header" class="card-shadow">
        <div id="banner">
            <img src="https://b.thumbs.redditmedia.com/7ZnYyBtVMdxHs2E7P427V367PiZbi3N6QPPqNPqv5hE.png" alt="Hacking header"/>
        </div>
        <div id="nav-bar" class="wrap-floats">
            <ul>
                <li><h:link outcome="hot.jsf" value="Hot"/></li>
                <li><h:link outcome="new.jsf" value="New"/></li>
                <li><h:link outcome="top.jsf" value="Top"/></li>
            </ul>
            <p:link styleClass="session-button" value="Log in or Sign up" onclick="PF('logginDialog').show(); return false;" rendered="#{!userController.loggedIn}" />
            <h:form>
                <p:commandLink styleClass="session-button" value="Log out" actionListener="#{userController.logOut()}" oncomplete="location.reload();" rendered="#{userController.loggedIn}" />
            </h:form>
        </div>
    </section>

    <ui:insert name="content">Default content</ui:insert>

    <ui:include src="log-in-sign-up-dialog.xhtml"/>
    <ui:include src="post-news-dialog.xhtml" />
</h:body>
</html>